<!DOCTYPE html>
<html>
  <head>
    <title><%=@poem.title%></title>
    <link rel="stylesheet" href="/stylesheets/banner.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/poems">Home</a>
      <a href="/poems/new">Create Poem</a>
      <a style="float: right; margin-right: 15px" href="/logout">Logout</a>
    </div><br>
    <div class="container">
      <img src="/images/show.png" alt="show">
      <h1 align="center"><u>Poem Essence</u></h1>
    </div>
    <br>
    <h1 align="center" style="text-transform:capitalize;"> <%=@poem.title%></h1>
    <h2> Author: <%=Helpers.name(session)%></h2>
    <h3 style="font-family: 'Lobster Two', cursive;"> Date Created: <%=@poem.created_at.strftime("%m-%d-%Y at %H:%M %p")%></h3>
    <h3 style="font-family: 'Lobster Two', cursive;"> Date Updated: <%=@poem.updated_at.strftime("%m-%d-%Y at %H:%M %p")%></h3>
    <br>
    <h3>Poem:</h3>
    <p> <%=@poem.poem%> </p>
    <br>
    <br>
    <a href='/poems/<%=params[:id]%>/edit' class="myButton">Edit Poem</a>
    <br><br>
    <form action="/poems/<%=@poem.id%>/delete" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" class="delete_button" value="Delete Poem">
    </form>
    <% if @poem.errors.any? %>
		<ul>
			<% @poem.errors.full_messages.each do |err| %>
				<li> <em style="color:red;font-size:12px;" > <%= err %> </em></li>
			<% end %>
		</ul>
		<% end %>
  </body>
</html>
